@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";


body {
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/hops_grain_fermenter.png');
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(6px);
  filter: opacity(0.2);
  z-index: -1;
}