<h1>North Texas Homebrew Circuit</h1>

<p>
  The North Texas Homebrew Circuit is homebrew competition circuit promoting and
  assisting the local North Texas Homebrew Clubs with their Homebrew
  Competitions.
</p>
