<div class="pt-12 pl-0.5 text-center">
  <h1
    class="mb-4 text-4xl font-bold tracking-tight text-body md:text-5xl lg:text-6xl"
  >
    North Texas Homebrew Circuit
  </h1>

  <p class="mb-6 text-lg font-normal text-body lg:text-xl sm:px-16 xl:px-48">
    The North Texas Homebrew Circuit is homebrew competition circuit promoting
    and assisting the local North Texas Homebrew Clubs with their Homebrew
    Competitions.
  </p>
</div>
