---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div
    id="north-texas-comp"
    class="w-full mb-8 border-2 border-solid border-[#D96907] rounded-lg pt-2 p-2"
  >
    <div class="text-center">
      <h2 class="text-[#8C2703] text-2xl font-bold">
        2025 Final North Texas Circuit Standings
      </h2>
    </div>
    <div class="text-center">
      <div class="border border-[#F28B0C] rounded-lg overflow-hidden p-3 m-3">
        <div class="p-4 overflow-y-auto">
          <iframe
            title="2025 Individual Final Standings"
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSwTKMJm4te2UEAbvczFWCC2YPw-R8TwOjdg-IL2imKg6hT8QZf6ureKZFUUxA0HMXM_J8eiJd7s0Uk/pubhtml?gid=0&single=true"
            style="width:100%; height:300px;"></iframe>
        </div>
      </div>
    </div>
    <div class="border border-[#F28B0C] rounded-lg overflow-hidden p-3 m-3">
      <div class="p-4 overflow-y-auto">
        <iframe
          title="2025 Team Final Standings"
          src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSwTKMJm4te2UEAbvczFWCC2YPw-R8TwOjdg-IL2imKg6hT8QZf6ureKZFUUxA0HMXM_J8eiJd7s0Uk/pubhtml?gid=2116002501&single=true"
          style="width:100%; height:300px;"
          class="bordershadow-md p-2"></iframe>
      </div>
    </div>
  </div>

  <div
    class="w-full mb-8 border-2 border-solid border-[#D96907] rounded-lg pt-2 p-2"
  >
    <div class="text-center">
      <h2 class="text-[#8C2703] text-2xl font-bold">
        2024 Final North Texas Circuit Standings
      </h2>
      <div class="text-center">
        <div
          class="border border-[#F28B0C] rounded- lg overflow-hidden p-3 m-3"
        >
          <div class="p-4 overflow-y-auto">
            <iframe
              title="2024 Final Individual Standings"
              src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRov5AcRYt_PHKF27ceY3PyP4bSMZC8bv9hV3qDwS3SIdQqSF6-ISi0efvgCohuretb-jGC2qUHW81l/pubhtml?gid=0&single=true"
              style="width:100%; height:300px;"></iframe>
          </div>
        </div>
      </div>
      <div class="border border-[#F28B0C] rounded-lg overflow-hidden p-3 m-3">
        <div class="p-4 overflow-y-auto">
          <iframe
            title="2024 Final Team Standings"
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRov5AcRYt_PHKF27ceY3PyP4bSMZC8bv9hV3qDwS3SIdQqSF6-ISi0efvgCohuretb-jGC2qUHW81l/pubhtml?gid=2116002501&single=true"
            style="width:100%; height:300px;"
            class="bordershadow-md p-2"></iframe>
        </div>
      </div>
    </div>
  </div>
</Layout>
